In [14]:
import pandas as pd
import numpy as np
data = pd.read_csv("norcal1.csv") 
data.head()

                                Product     Category          Subcategory
0       Native Roots Tree Beanie, Black  ACCESSORIES  OTHER - ACCESSORIES
1  Sin City - Black/Gold Rolling Medium  ACCESSORIES  OTHER - ACCESSORIES
2      Sin City - Glass Handpipes DOPER  ACCESSORIES              DEVICES
3                SOW D.I.M.E.S Cinnamon  INGESTIBLES               CANDY
4       Sin City - Glass Waterpipe/Rigs  ACCESSORIES              DEVICES

In [15]:
data.shape

(99999, 3)

In [16]:
print("There are {} types of product configurations in this dataset such as {}. \n".format(len(data.Product.unique()),
                                                                           ", ".join(data.Product.unique()[0:3])))

There are 44922 types of product configurations in this dataset such as Native Roots Tree Beanie, Black, Sin City - Black/Gold Rolling Medium, Sin City - Glass Handpipes DOPER.

In [17]:
data.head()

                                Product     Category          Subcategory
0       Native Roots Tree Beanie, Black  ACCESSORIES  OTHER - ACCESSORIES
1  Sin City - Black/Gold Rolling Medium  ACCESSORIES  OTHER - ACCESSORIES
2      Sin City - Glass Handpipes DOPER  ACCESSORIES              DEVICES
3                SOW D.I.M.E.S Cinnamon  INGESTIBLES               CANDY
4       Sin City - Glass Waterpipe/Rigs  ACCESSORIES              DEVICES

## Formatting
* Sorting and regulating the letter casing to decrease inconsistencies. In the original dataset, some product labels are indented or have unecessary whitespace before them, which can interfere when sorting. Same goes for some special characters that aren't essential to the product name. We counter these issues here

In [18]:
# sort values
data.sort_values("Product", inplace = True)

In [19]:
# Converting Products to Lowercase 
data['Product'] = data['Product'].str.lower()

In [20]:
# Removing Non-Essential Special Characters
import string
data['Product']=data['Product'].str.replace(r'[-/*|!]+', '')

In [21]:
# Removing Leading Whitespace
data['Product'] = [x.lstrip() for x in data['Product']]

In [22]:
data.head()

,Product,Category,Subcategory
94466,ht gg4 bho 1g,INHALABLES,VAPE CARTS - 510
64299,jack herer buds,INHALABLES,FLOWER - UNBRANDED
98024,phat panda og chem .5g pod,INHALABLES,VAPE CARTS - PROPRIETARY
98888,queen bee flodu shatter 1g,INHALABLES,DABBABLE CONCENTRATES
5757,soji health sunrise : hemp extract oral spray...,INGESTIBLES,SUBLINGUALS

In [23]:
#Finding Most Common Cannabis Strains

In [24]:
products =['Hindu Kush', 'Mango Kush', 'NYC Diesel', 'Tahoe OG Kush', 'Death Star', 'Bubble Gum', 'Skywalker OG', 'Purple Haze', 'G13', 'Lemon Kush', 'Gods Gift', 'Purple Urkle', 'Skywalker', 'Cherry Pie', 'Chocolope', 'LA Confidential', 'White Rhino', 'Maui Waui', 'Afghan Kush', 'Super Lemon Haze', 'Master Kush', 'Grape Ape', 'Strawberry Cough', 'Blackberry Kush', 'Lemon Haze', 'Super Silver Haze', 'Durban Poison', 'Chemdawg', 'Alaskan Thunder Fuck', 'Purple Kush', 'Pineapple Express', 'Headband', 'Blue Cheese', 'Northern Lights', 'Trainwreck', 'AK 47', 'Bubba Kush', 'Jack Herer', 'White Widow', 'Granddaddy Purple', 'Girl Scout Cookies', 'OG Kush', 'Sour Diesel', 'Blue Dream']

In [25]:
count = {}

for prod in data['Product']:
    
    for prod_check in products:
        if prod_check.lower() in prod:
            if prod_check not in count:
                count[prod_check] = 1
            else:
                count[prod_check] +=1
print(count)

sortedMostCommon = sorted((value, key) for (key, value) in count.items())
sortedMostCommon = sortedMostCommon[::-1]
sortedMostCommon

{'Jack Herer': 487, 'Blue Dream': 852, 'Cherry Pie': 135, 'Granddaddy Purple': 98, 'Super Lemon Haze': 365, 'Lemon Haze': 452, 'OG Kush': 435, 'Sour Diesel': 736, 'Headband': 263, 'Northern Lights': 317, 'Pineapple Express': 367, 'Strawberry Cough': 227, 'Death Star': 66, 'Skywalker': 290, 'Durban Poison': 253, 'Super Silver Haze': 124, 'Girl Scout Cookies': 184, 'Trainwreck': 269, 'Master Kush': 219, 'Purple Kush': 69, 'Bubba Kush': 343, 'NYC Diesel': 37, 'Bubble Gum': 69, 'Mango Kush': 56, 'Blackberry Kush': 105, 'Grape Ape': 150, 'Chemdawg': 80, 'G13': 38, 'AK 47': 7, 'Chocolope': 226, 'Alaskan Thunder Fuck': 15, 'Hindu Kush': 45, 'Lemon Kush': 82, 'Blue Cheese': 49, 'Purple Urkle': 41, 'White Widow': 106, 'LA Confidential': 54, 'Maui Waui': 39, 'White Rhino': 32, 'Skywalker OG': 142, 'Afghan Kush': 4, 'Purple Haze': 33, 'Gods Gift': 12, 'Tahoe OG Kush': 3}

[(852, 'Blue Dream'),
 (736, 'Sour Diesel'),
 (487, 'Jack Herer'),
 (452, 'Lemon Haze'),
 (435, 'OG Kush'),
 (367, 'Pineapple Express'),
 (365, 'Super Lemon Haze'),
 (343, 'Bubba Kush'),
 (317, 'Northern Lights'),
 (290, 'Skywalker'),
 (269, 'Trainwreck'),
 (263, 'Headband'),
 (253, 'Durban Poison'),
 (227, 'Strawberry Cough'),
 (226, 'Chocolope'),
 (219, 'Master Kush'),
 (184, 'Girl Scout Cookies'),
 (150, 'Grape Ape'),
 (142, 'Skywalker OG'),
 (135, 'Cherry Pie'),
 (124, 'Super Silver Haze'),
 (106, 'White Widow'),
 (105, 'Blackberry Kush'),
 (98, 'Granddaddy Purple'),
 (82, 'Lemon Kush'),
 (80, 'Chemdawg'),
 (69, 'Purple Kush'),
 (69, 'Bubble Gum'),
 (66, 'Death Star'),
 (56, 'Mango Kush'),
 (54, 'LA Confidential'),
 (49, 'Blue Cheese'),
 (45, 'Hindu Kush'),
 (41, 'Purple Urkle'),
 (39, 'Maui Waui'),
 (38, 'G13'),
 (37, 'NYC Diesel'),
 (33, 'Purple Haze'),
 (32, 'White Rhino'),
 (15, 'Alaskan Thunder Fuck'),
 (12, 'Gods Gift'),
 (7, 'AK 47'),
 (4, 'Afghan Kush'),
 (3, 'Tahoe OG Kush')]

## Adding columns

* In an effort to identify the true number of unique product labels, we wanted to strip down these labels to their base name, without additional descriptors. We've extracted these descriptors from the "Products" field and placed them in their own field.

In [26]:
## Weight
data['Weight'] = data['Product'].str.extract(r'(\d*\.?\d+g| \d*\.?\d+mg| \d*\.?\d+[ ]?oz)')
data['Product'] = data['Product'].str.replace(r'(\d*\.?\d+g| \d*\.?\d+mg| \d*\.?\d+[ ]?oz)','')

In [27]:
## Price
data['Price'] = data['Product'].str.extract(r'(\$\d*[.,]?\d*)')
data['Product'] = data['Product'].str.replace(r'(\$\d*[.,]?\d*)','')

In [28]:
## Length/Volume
data['Length/Volume'] = data['Product'].str.extract(r'(\d*\.?\d+[ ]?ml |\d*\.?\d+[ ]?mm)')
data['Product'] = data['Product'].str.replace(r'(\d*\.?\d+[ ]?ml |\d*\.?\d+[ ]?mm)','')

In [29]:
## Content%
data['Content%'] = data['Product'].str.extract(r'(\d*\.?\d*[ ]?%)')
data['Product'] = data['Product'].str.replace(r'(\d*\.?\d*[ ]?%)','')

In [30]:
data.head()

,Product,Category,Subcategory,Weight,Price,Length/Volume,Content%
94466,ht gg4 bho,INHALABLES,VAPE CARTS - 510,1g,NaN,NaN,NaN
64299,jack herer buds,INHALABLES,FLOWER - UNBRANDED,NaN,NaN,NaN,NaN
98024,phat panda og chem pod,INHALABLES,VAPE CARTS - PROPRIETARY,.5g,NaN,NaN,NaN
98888,queen bee flodu shatter,INHALABLES,DABBABLE CONCENTRATES,1g,NaN,NaN,NaN
5757,soji health sunrise : hemp extract oral spray...,INGESTIBLES,SUBLINGUALS,NaN,NaN,NaN,NaN

## Deduplicate

* Since this data is coming from multiple online platforms, it appears there are products with identical product names but are classified into different categories. At this point, we are unsure which classification is correct, so we wouldn't want to remove duplicates pureley based off of product name. 

* As a result, we remove duplicates on the basis of product name + sub-category, as sub-category is the most detailed classifier of these products.

In [31]:
# The number of duplicates: product name and sub category together
data.duplicated(subset=['Product','Subcategory']).sum()

53843

In [32]:
# dedup
df1 = data.drop_duplicates(subset=['Product','Subcategory'], keep = 'first')

In [33]:
df1.shape

(46156, 7)

In [34]:
#Unique Product Labels
data['Product'].nunique()

41531

In [156]:
df1.to_csv('NorcalFinal_Cleaned2.csv',encoding='utf-8', index=False)

## Examining Product Similarity

* In an effort to find similar products, we will compare all products in this dataset using record linkage. Here, we will be able to find threshold similarity values and see which products are similar to any given product.

In [61]:
pip install recordlinkage

Collecting recordlinkage
  Downloading https://files.pythonhosted.org/packages/db/26/babbca39d74824e8bc17428a8eb04951a1d63318af7d02beeb2106a1ec26/recordlinkage-0.14-py3-none-any.whl (944kB)
     |████████████████████████████████| 952kB 1.3MB/s eta 0:00:01
Collecting jellyfish>=0.5.4 (from recordlinkage)
  Downloading https://files.pythonhosted.org/packages/3f/80/bcacc7affb47be7279d7d35225e1a932416ed051b315a7f9df20acf04cbe/jellyfish-0.7.2.tar.gz (133kB)
     |████████████████████████████████| 143kB 41.1MB/s eta 0:00:01
Requirement already satisfied: joblib in /opt/anaconda3/lib/python3.7/site-packages (from recordlinkage) (0.13.2)
Requirement already satisfied: pandas>=0.23 in /opt/anaconda3/lib/python3.7/site-packages (from recordlinkage) (0.25.1)
Requirement already satisfied: scikit-learn>=0.19.0 in /opt/anaconda3/lib/python3.7/site-packages (from recordlinkage) (0.21.3)
Requirement already satisfied: scipy>=1 in /opt/anaconda3/lib/python3.7/site-packages (from recordlinkage) (1.3.1)
Requirement already satisfied: numpy>=1.13.0 in /opt/anaconda3/lib/python3.7/site-packages (from recordlinkage) (1.17.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.23->recordlinkage) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.23->recordlinkage) (2019.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.23->recordlinkage) (1.12.0)
Building wheels for collected packages: jellyfish
  Building wheel for jellyfish (setup.py) ... done
  Created wheel for jellyfish: filename=jellyfish-0.7.2-cp37-none-any.whl size=10029 sha256=21e3d524e1c60c03b8c8df53efd73d1033a64242574fbf310e1e8f4df7b1cbdd
  Stored in directory: /Users/casey/Library/Caches/pip/wheels/e8/fe/99/d8fa8f2ef7b82a625b0b77a84d319b0b50693659823c4effb4
Successfully built jellyfish
Installing collected packages: jellyfish, recordlinkage
Successfully installed jellyfish-0.7.2 recordlinkage-0.14
Note: you may need to restart the kernel to use updated packages.

In [62]:
import recordlinkage
from recordlinkage.datasets import load_febrl1
import pandas as pd
import numpy as np

In [63]:
df1 = pd.read_csv('NorcalFinal_Cleaned2.csv')

In [64]:
df1.head()

,Product,Category,Subcategory,Weight,Size,Price,Length,Content%
0,!420! bloom farms cartridge bogo,INHALABLES,VAPE CARTS - 510,500mg,NaN,NaN,NaN,NaN
1,!420! eel river cartridge [h] citrus sap,INHALABLES,VAPE CARTS - 510,500mg,NaN,NaN,NaN,NaN
2,!420! eel river cartridge [s] ancient lime,INHALABLES,VAPE CARTS - 510,500mg,NaN,NaN,NaN,NaN
3,!420! eel river cartridge [s] dairy queen,INHALABLES,VAPE CARTS - 510,500mg,NaN,NaN,NaN,NaN
4,!420! eel river live resin [h] chernobyl,INHALABLES,DABBABLE CONCENTRATES,1g,NaN,NaN,NaN,NaN

* It is very intuitive to start with comparing each record in DataFrame df1 with all other records in DataFrame df. In fact, we want to make record pairs. Each record pair should contain two different records of DataFrame df. This process of making record pairs is also called ‘indexing’.

In [65]:
indexer = recordlinkage.Index()
indexer.full()
candidate_links = indexer.index(df1)

WARNING:recordlinkage:indexing - performance warning - A full index can result in large number of record pairs.

In [66]:
print (len(df1), len(candidate_links))

46144 1064611296

In [68]:
indexer = recordlinkage.Index()
indexer.block('Product')
candidate_links = indexer.index(df1)

print (len(candidate_links))

4935

In [69]:
compare_cl = recordlinkage.Compare()

In [70]:
compare_cl.exact('Category', 'Category', label='Category')
compare_cl.exact('Subcategory', 'Subcategory', label='Subcategory')
compare_cl.string('Product', 'Product', threshold=0.95, label='Product')

In [71]:
features = compare_cl.compute(candidate_links, df1)

In [72]:
features.head(10)

         Category  Subcategory  Product
7   6           1            0      1.0
9   8           1            0      1.0
13  12          1            0      1.0
103 102         1            0      1.0
107 106         1            0      1.0
124 123         1            0      1.0
146 125         1            0      1.0
182 151         0            0      1.0
286 151         0            0      1.0
    182         1            0      1.0

In [73]:
features.describe()

          Category  Subcategory  Product
count  4935.000000       4935.0   4935.0
mean      0.835461          0.0      1.0
std       0.370802          0.0      0.0
min       0.000000          0.0      1.0
25%       1.000000          0.0      1.0
50%       1.000000          0.0      1.0
75%       1.000000          0.0      1.0
max       1.000000          0.0      1.0

In [74]:
features.sum(axis=1).value_counts().sort_index(ascending=False)

2.0    4123
1.0     812
dtype: int64

In [77]:
matches = features[features.sum(axis=1) > 1]

print(len(matches))
matches.head(10)

4123

         Category  Subcategory  Product
7   6           1            0      1.0
9   8           1            0      1.0
13  12          1            0      1.0
103 102         1            0      1.0
107 106         1            0      1.0
124 123         1            0      1.0
146 125         1            0      1.0
286 182         1            0      1.0
162 161         1            0      1.0
184 183         1            0      1.0